:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
  background-color: maroon;
}

main {
  background: #fff;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #f2f2f2;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  color: var(--font-body);
  /* Reference for css wavy underline: */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-style */
  text-decoration-style: wavy;
}

.logo .fa-male {
  font-size: 40px;
}

.logo span {
  color: maroon;
}

.cart .fa-shopping-cart {
  margin: 10px;
  font-size: 40px;
  color: #000;
}

/* Reference for horizontally centering flex-direction column with align-items center: */
/* https://love2dev.com/blog/absolute-centering-css/#:~:text=All%20you%20need%20to%20do,to%20the%20Header's%20CSS%20rules.&text=You%20can%20use%20this%20combination,centered%20within%20a%20parent%20element. */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img {
  margin: 10px;
  width: 50%;
  height: auto;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* Cart icon styles */
/* .cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
} */

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.mission p {
  /* Reference for font-family: */
  /* https://www.w3schools.com/css/css_font.asp */
  font-family: "Fantasy", monospace;
  font-weight: bold;
}

.products {
  padding: 0.5em;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

/* Reference for filter image contrast: */
/* https://www.w3schools.com/cssref/tryit.php?filename=trycss3_filter_all */
ul.product-list li:hover {
  outline: 5px solid maroon;
  filter: contrast(150%);
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
  color: #fff;
}

/* SPECIFIC STYLING FOR PRODUCT_PAGES INDEX.HTML */
.product-detail__add {
  text-align: center;
}

.product-detail__add label {
  font-weight: bold;
}

.product-detail__add label input {
  display: block;
  height: 44px;
  width: 100%;
  margin: 10px 0;
  background-color: lightblue;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

button#addToCart {
  background-color: maroon;
  border-radius: 8px;
}

/* STYLING FOR CATEGORY IMAGES ON MAIN INDEX.HTML FILE */
/* Reference for CSS flex-direction Property: */
/* https://www.w3schools.com/cssref/css3_pr_flex-direction.php */
ul.category-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* Reference for how to remove bullets: */
  /* https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.category-container li {
  flex: 100%;
  margin-bottom: 20px;
  /* Reference for polaroid box-shadow images: */
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss3_box-shadow5 */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px 10px;
}

/* Reference for filter image brightness: */
/* https://www.w3schools.com/cssref/tryit.php?filename=trycss3_filter_all */
ul.category-container li:hover {
  outline: 5px solid maroon;
  filter: brightness(1.5);
}

ul.category-container li a {
  text-decoration: none;
}

ul.category-container li img {
  width: 100%;
  height: auto;
}

ul.category-container li a h2 {
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.2em;
}

@media screen and (min-width: 300px) {
  /* Reference for CSS flex-direction Property: */
  /* https://www.w3schools.com/cssref/css3_pr_flex-direction.php */
  ul.category-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  ul.category-container li {
    padding: 0;
  }

  ul.category-container li:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  ul.category-container li:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  ul.category-container li:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  ul.category-container li:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 500px) {
  /* Reference for CSS flex-direction Property: */
  /* https://www.w3schools.com/cssref/css3_pr_flex-direction.php */
  ul.category-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0;
  }

  ul.category-container li {
    /* Notice that 25% * 4 = 100% */
    flex: 25%;
    padding: 0;
  }
}

@media screen and (min-width: 700px) {
  ul.category-container {
    margin: 0% 10%;
  }
}

/* SPECIFIC STYLING FOR CART INDEX.HTML PAGE */
h2.cart-total {
  margin-bottom: 25px;
}

.checkout-button {
  border-radius: 8px;
  border: 2px solid #000;
  padding: 15px 25px;
  text-decoration: none;
  background-color: maroon;
  color: #fff;
  font-size: 22px;
}

.cart-footer {
  margin-bottom: 20px;
}

.cart-card__quantity {
  font-weight: bold;
}

/* SPECIFIC STYLING FOR CHECKOUT AND LOGIN INDEX.HTML PAGE */
.checkout-container,
.login-container {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

section.checkout-form label,
.login-container label {
  display: block;
  padding: 5px 0;
}

section.checkout-form input,
.login-container input {
  display: block;
  height: 44px;
  width: 100%;
}

section.checkout-form fieldset,
.login-container fieldset {
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

section.checkout-form .starRequired,
.login-container .starRequired {
  color: rgb(223, 45, 45);
}

section.checkout-form legend,
.login-container legend {
  font-weight: bold;
}

fieldset.checkout-summary h4 {
  margin-bottom: 0;
}

fieldset.checkout-summary p {
  margin-top: 10px;
}

a#checkout-submit,
.login-container a#login-submit {
  display: block;
  width: 150px;
  border-radius: 8px;
  border: 2px solid #000;
  padding: 15px 25px;
  text-decoration: none;
  background-color: maroon;
  color: #fff;
  font-size: 22px;
}

section.checkout-form,
a#login-submit {
  margin-bottom: 20px;
}

@media screen and (min-width: 800px) {
  .checkout-container {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (min-width: 1000px) {
  .checkout-container {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

/* SPECIFIC STYLING FOR SUCCESS.HTML PAGE */
.success {
  margin: 20px;
}

/* SPECIFIC STYLING FOR MESSAGE IN UTILS.MJS */
.alert-message {
  display: flex;
  /* Reference for vertically center the items using align-items: center ->
  https://www.w3schools.com/cssref/css3_pr_align-items.php */
  align-items: center;
  /* References for justify-content: space-between -> 
  https://www.w3schools.com/cssref/css3_pr_justify-content.php 
  https://www.w3schools.com/cssref/playdemo.php?filename=playcss_justify-content&preval=space-between */
  justify-content: space-between;
  /* Reference for css "em": https://www.w3schools.com/cssref/css_units.php */
  padding: 0.75em;
  border-radius: 8px;
  border: 5px double #fff;
  background-color: rgb(235, 83, 37);
  color: #fff;
}

.alert-message .delete-message {
  float: right;
  font-weight: bold;
  font-size: 25px;
}

/* STYLING FOR HEADER */
div.cart {
  display: flex;
  flex-direction: row;
}

div.cart a {
  text-decoration: none;
}

a#login-button {
  display: block;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #000;
  margin: 10px;
  height: 40px;
  padding: 5px 5px;
  text-decoration: none;
  background-color: maroon;
  color: #fff;
  font-size: 22px;
}

/* References for css round element or button: */
/* https://stackoverflow.com/questions/38320878/circle-button-css */
/* https://www.w3schools.com/howto/howto_css_round_buttons.asp */
.number-of-cart-items {
  position: relative;
  z-index: 1;
  top: -23px;
  right: 43px;
  background-color: yellow;
  border: 2px solid #000;
  color: black;
  text-align: center;
  text-decoration: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 0;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

/* STYLING FOR ORDERS INDEX.HTML PAGE */
/* Reference for styling table: https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
main.orders h2 {
  width: 95%;
  margin: 10px 2.5%;
}

table#orders {
  width: 95%;
  margin: 0 2.5%;
  border-collapse: collapse;
}

table#orders th,
td {
  border: 1px solid #000;
  padding: 12px 5px;
  text-align: left;
}

table#orders th {
  background-color: rgb(223, 45, 45);
  color: #fff;
}

table#orders tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* SPECIFIC STYLING FOR CART PAGE INDEX.HTML */
ul.product-list li {
  border: 1px solid #000;
  margin: 10px;
  width: 100%;
}

ul.product-list li img {
  padding: 5px;
}

ul.product-list li h2 {
  font-weight: bold;
}

ul.product-list li h2,
ul.product-list li p {
  margin: 10px;
}

.delete-item {
  display: block;
  background-color: #f2f2f2;
  border: 1px solid #000;
  border-radius: 8px;
  color: #000;
  width: 94%;
  padding: 10px 0;
  margin: 0 2px 10px 5px;
  text-align: center;
}
