<!-- Reference for css font-awesome icons: https://www.w3schools.com/w3css/w3css_icons.asp -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="logo">
  <a href="/index.html"
    ><i class="fa fa-male">&nbsp;</i><span>Mens Attire</span></a
  >
</div>
<div class="cart">
  <a href="/login/" id="login-button">Login</a>
  <!-- Reference for shopping cart icon: https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-shopping-cart -->
  <a href="/cart/index.html">
    <i class="fa fa-shopping-cart"></i>
    <span class="number-of-cart-items hide"></span>
  </a>
</div>
